<h1>Welcome, today is <%= Time.now.strftime('%A') %>.</h1>

<h1>Line <%= @line._id %></h1>

<table>
    <tr><td>Name: <%= @line.name %></td></tr>
    <tr><td>Color: #<%= @line.color %></td></tr>
    <tr><td><%= link_to "Stations", line_stations_path(@line) %></td></tr>
</table>